﻿@using TestEncryptionApplication.ServiceReference1
@model Personne

@{
    ViewBag.Title = "CreationPersonne";
}

<h2>Création d'une personne</h2>

@using (Html.BeginForm("CreationPersonneForm", "Personne", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="prenom">Prénom</label>
        @Html.TextBoxFor(model => model.prenom, new { @class = "form-control", @id = "prenom", @placeholder = "Prenom", @type = "text", @required = "required" })
    </div>

    <div class="form-group">
        <label for="nom">Nom</label>
        @Html.TextBoxFor(model => model.nom, new { @class = "form-control", @id = "nom", @placeholder = "Nom", @type = "text", @required = "required" })
    </div>

    <div class="form-group">
        <label for="date-naissance">Date de naissance</label>
        @Html.TextBoxFor(model => model.date_naissance, String.Format("{0:dd/MM/yyyy}", Model.date_naissance), new { @class = "form-control", @type = "date", @id = "date-naissance", @placeholder = "Commentaire" })
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-info">Ajouter une personne</button>
    </div>
}
