﻿@using TestEncryptionApplication.ServiceReference1
@model List<Personne>


@{
    ViewBag.Title = "PersonnePage";
}

<div class="div-btn-add text-right">
    @Html.ActionLink("Ajouter une personne", "CreationPersonne", "Personne", new { }, new { @class = "btn btn-primary" })
</div>

@using (Html.BeginForm("PersonneFilterPage", "Personne", FormMethod.Post))
{
    <div class="form-group tex">
        <label for="recherche">Recherche par nom</label>
        <input type="search" placeholder="Recherche" id="recherche" name="recherche" class="form-control" />
    </div>

    <div class="text-center">
        <input type="submit" value="Rechercher" id="recherche" class="btn btn-success" />
    </div>
}

<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Date de naissance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id_personne</td>
                <td>@item.prenom</td>
                <td>@item.nom</td>
                <td>@item.date_naissance.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

